# IDE and editors
.idea/
.vscode/

# Dependencies
node_modules/
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production builds
/build
dist/
dist

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
*.pem

# Environment files
.env
.env.*
*.env
credentials.json
*.key
.credentials
